<div ui-view>
  <div class="header">
        <!-- appears if offline -->
    <div id="OnlineOrOff" ng-hide="{{online}}">
      <h1>Whoops! It appears you're offline</h1>
    </div>
  </div>

  <div id="signupform">
    <form>
      Username: <input ng-model="user.name" ng-model-options="{ debounce: 500 }"/><br>
      Email: <input ng-model="user.mail" ng-model-options="{ debounce: 500 }"/><br>
      Password <input ng-show="checkUserNameAvalibility()" ng-model="user.password"/>
    </form>

    <button type="button" class="btn btn-info" ui-sref="home()">Add Slide</button>
  </div>
</div>
